.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5d2d4e;
  opacity: 80%;
  height: 150px;
  border-top: 7px solid #111;
  color: #fff;
}

.footer span {
  font-weight: bold;
}
